# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kingdom_Josh\Desktop\Georgian College Stuff\Year 1 Sem 2\W21COMP1008S3W6\W21COMP1008S3W6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
